/* blue: #0c2c52 */
/* green: #80C565 */

.card {
    min-width: 340px;
    height: 240px;
    margin-bottom: 40px;
    position: relative;
}

.cardContent {
    width: 180px;
    position: relative;
    margin: 0 auto;
}

.image { 
    width:180px;
    opacity: 0.3;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
    transition: 1s;
}

.textContainer {
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0;
    bottom: 0;
    color: #0c2c52;
}

.firstName {
    text-align: left;
    margin-left: 4px;
    left: 0;
    font-size: 20px;
    transition: 1s;
    font-weight: 600;
}

.office {
    text-align: right;
    position: absolute;
    bottom: 5px;
    right: 5px;
    transition: 1s;
}

.lastName {
    opacity: 0;
   text-align: left;
   margin-left: -80px;
}

.buttonContainer {
    position: relative;
    bottom: 10px;
    opacity: 0;
    cursor: pointer;
    transition: transform .2s;
}

.button {
    cursor: pointer;
    width: 115px;
    height: 24px;
    background: #80C565;
    border: 1px solid #80C565;
    border-radius: 3px;
    color: white;
    font-size: 13px;
    text-decoration: none;
    padding: 5px 13px;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

/* //////////////////////// Hover states /////////////////////// */

.cardContent:hover > .imageContainer > .image {
    opacity: 1;
}

.cardContent:hover > .textContainer {
    color: #80C565;
}

.cardContent:hover > .textContainer > .firstName {
    margin-left: -80px;
    margin-top: -40px;
    font-weight: 600;
    font-size: 20px;
}

.cardContent:hover > .textContainer > .office {
    right: -83px;
    font-weight: 600;
    font-size: 20px;
}

.cardContent:hover > .textContainer > .lastName {
    animation: fadeIn 1s;
    opacity: 1;
}

.cardContent:hover > .textContainer > .buttonContainer {
    visibility: visibile;
    animation: fadeIn 1s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}

.buttonContainer:hover {
    transform: scale(1.1);
}