.toolbar {
    height: 50px;
    position: relative;
    background: #80C565;
    color: white;
    font-style: italic;
    margin-bottom: 30px;
}

.toolContainer {
    width: 40%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: 0;
    justify-content: space-around;
}

.headline {
    display: inline-block;
    height: 100%;
    padding: 6px;
    text-align: left;
    position: absolute;
    left: 24px;
    font-size: 25px;
    font-weight: 200;
}

.hidden {
    visibility: hidden;
    margin-left: 10px;
}

.icon {
    margin-left: 6px;
    cursor: pointer;
    transition: transform .2s;
}

.icon:hover {
    color: #e4e6e8;
    transform: scale(1.2);
}

.sortingBar, .filterBar {
    display: flex;
    height: 100%;
    align-items: center;
}



.resetButton {
    margin-left: 10px;
    cursor: pointer;
    transition: transform .2s;
}

.resetButton:hover {
    color: #e4e6e8;
    transform: scale(1.2);
}

.selected {
    color: #e4e6e8;
}